<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class="form-group col-lg-3" style="text-align: center;margin: 0 auto; margin-top: 5%;">
    <h1 style="text-align: center;">Search For a Movie</h1>

    <form action="/results" method="GET" style="text-align: center;">
        <input type="text" placeholder="Search a Movie here" name="search" class="form-control" ><br>
        <input type="submit" class="btn btn-secondary">
    </form>
</div>